.highlight {
	background-color: yellow;
}

#demo {
	text-align: center;
}

nav ul {
	list-style-type: none;
	border: 0px;
	margin: 0px;
	padding: 10px;
	background-color: gray;
}

nav ul li {
	display: inline;
	padding: 10px 30px;
	font-family: "Times New Roman";
	font-size: larger;
}
nav a {
	text-decoration: none;
	color: black;
}
nav li:hover, nav a:hover {
	background-color: black;
	color: white;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr, td {
	padding: 10px;
	border: 1px solid;
	text-align: left;
}

th {
	padding: 5px;
	text-align: center;
	background-color: black;
	color: white;
}